PEER_DOMAIN=w2.kislota.today
TURN_REALM=w2.kislota.today
TURN_EXTERNAL_IP=116.203.107.226
TURN_USERNAME=lwc2
TURN_PASSWORD=CHANGE_ME_TURN_PASSWORD
TURN_TLS_PORT=5349
TURN_ENABLE_TLS=true
TURN_PREFER_TLS=true
